// UCLA Brand Colors choose between hex, hsl, rgb. 
// Hex color space
$gold: #ffd100;
$blue: #2774ae;
$lightest-blue: #daebfe;
$lighter-blue: #8bb8e8;
$darker-blue: #005587;
$darkest-blue: #003b5c;
$darker-gold: #ffc72c;
$darkest-gold: #ffb81c;
$cyan: #0ff;
$magenta: #ff00a5;
$green: #00ff87;
$janss-steps-green: #32aa56;
$yellow: #ff0;
$purple: #8a69d4;

$black: #000;
$black-90: #1a1a1a;
$black-80: #333;
$black-70: #4d4d4d;
$black-60: #666;
$black-50: #808080;
$black-40: #999;
$black-30: #b3b3b3;
$black-20: #ccc;
$black-10: #e6e6e6;
$white: #fff;

// Alternative color spaces
// hsl color space
// $gold: hsl(49, 100%, 50%);
// $blue: hsl(206, 63%, 42%);
// $lightest-blue: hsl(212, 95%, 93%);
// $lighter-blue: hsl(211, 67%, 73%);
// $darker-blue: hsl(202, 100%, 26%);
// $darkest-blue: hsl(202, 100%, 18%);
// $darker-gold: hsl(44, 100%, 59%);
// $darkest-gold: hsl(41, 100%, 55%);
// $cyan: hsl(180, 100%, 50%);
// $magenta: hsl(321, 100%, 50%);
// $green: hsl(152, 100%, 50%);
// $janss-steps-green: hsl(138, 55%, 43%);
// $yellow: hsl(60, 100%, 50%);
// $purple: hsl(259, 55%, 62%);

// $black: hsl(0, 0%, 0%);
// $black-90: hsl(0, 0%, 10%);
// $black-80: hsl(0, 0%, 20%);
// $black-70: hsl(0, 0%, 30%);
// $black-60: hsl(0, 0%, 40%);
// $black-50: hsl(0, 0%, 50%);
// $black-40: hsl(0, 0%, 60%);
// $black-30: hsl(0, 0%, 70%);
// $black-20: hsl(0, 0%, 80%);
// $black-10: hsl(0, 0%, 90%);
// $white: hsl(0, 0%, 100%);

// RGB color space

// $gold: rgb(255, 209, 0);
// $blue: rgb(39, 116, 174);
// $lightest-blue: rgb(218, 235, 254);
// $lighter-blue: rgb(139, 184, 232);
// $darker-blue: rgb(0, 85, 135);
// $darkest-blue: rgb(0, 59, 92);
// $darker-gold: rgb(255, 199, 44);
// $darkest-gold: rgb(255, 184, 28);
// $cyan: rgb(0, 255, 255);
// $magenta: rgb(255, 0, 165);
// $green: rgb(0, 255, 135);
// $janss-steps-green: rgb(50, 170, 86);
// $yellow: rgb(255, 255, 0);
// $purple: rgb(138, 105, 212);

// $black: rgb(0, 0, 0);
// $black-90: rgb(26, 26, 26);
// $black-80: rgb(51, 51, 51);
// $black-70: rgb(77, 77, 77);
// $black-60: rgb(102, 102, 102);
// $black-50: rgb(128, 128, 128);
// $black-40: rgb(153, 153, 153);
// $black-30: rgb(179, 179, 179);
// $black-20: rgb(204, 204, 204);
// $black-10: rgb(230, 230, 230);
// $white: rgb(255, 255, 255);
